@model IEnumerable<Sherlock.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Apartment.ApartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AptNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Apartment.ApartmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AptNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApartmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApartmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApartmentID })
        </td>
    </tr>
}

</table>
